registry:
  search:
    backend: ${BACKEND_CONFIG:dynamodb}
    elasticsearch:
      host: ${BACKEND_ELASTICSEARCH_HOST:localhost:9200}
  storage:
    backend: ${STORAGE_CONFIG:s3}
    access:
      session-duration: ${STORAGE_ACCESS_SESSION_DURATION:5}
    azure:
      blobConnectionString: ${AZURE_BLOB_CONNECTION_STRING:DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;}
      containerName: ${AZURE_BLOB_CONTAINER_NAME:tf-registry}
    s3:
      bucket:
        name: ${S3_STORAGE_BUCKET_NAME:tf-registry}
        region: ${S3_STORAGE_BUCKET_REGION:eu-central-1}

quarkus:
  quinoa:
    enable-spa-routing: true
  s3:
    aws:
      region: ${registry.storage.s3.bucket.region}
  elasticsearch:
    hosts: ${registry.search.elasticsearch.host}
  http:
    filter:
      others:
        header:
          Cache-Control: no-cache
        matches: /.*
        methods: GET
        order: 0
      static:
        header:
          Cache-Control: max-age=31536000
        matches: /static/.+
        methods: GET
        order: 1


"%dev":
   quarkus:
     dynamodb:
       endpoint-override: http://localhost:4566
       aws:
         credentials:
           type: static
           static-provider:
             access-key-id: test
             secret-access-key: test
             session-token: test
     s3:
      endpoint-override: http://localhost:4566
     quinoa:
       dev-server:
         port: 3000
     http:
       cors: true
       ssl:
         certificate:
           files: "./dev/certs/cert.pem"
           key-files: "./dev/certs/key.pem"

"%test":
  quarkus:
    dynamodb:
      endpoint-override: http://localhost:4566
      aws:
        credentials:
          type: static
          static-provider:
            access-key-id: test
            secret-access-key: test
            session-token: test
    s3:
      endpoint-override: http://localhost:4566