name: Build

on:
  push:

jobs:
  backend:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: fake
      AWS_SECRET_ACCESS_KEY: fake
      AWS_ENDPOINT: http://localhost:4566
      AWS_REGION: eu-central-1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Start containers
        run: docker-compose -f "docker-compose.yml" up -d localstack opensearch-node1 azurite azurite_storage_init
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Build and test backend
        run: ./mvnw install
      - name: Upload production artifact
        uses: actions/upload-artifact@v3
        with:
          name: tapir
          path: |
            target/quarkus-app/
          retention-days: 3
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/main/webui
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: install
        run: yarn install
      - name: lint
        run: yarn lint
      - name: test
        run: yarn test
#  quality:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#        with:
#          fetch-depth: 0
#      - name: 'Qodana Scan'
#        uses: JetBrains/qodana-action@v2022.3.4
#        env:
#          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}


