name: Test

on:
  push:

jobs:
  backend:
    runs-on: ubuntu-latest
    services:
      localstack:
        image: localstack/localstack:1.3.1
        env:
          SERVICES: dynamodb,s3
          EXTRA_CORS_ALLOWED_ORIGINS: "*"
        ports:
          - 4566:4566
      elasticsearch:
        image: opensearchproject/opensearch
        env:
          discovery.type: single-node
          plugins.security.disabled: true
          discovery.seed_hosts: opensearch-node1
          cluster.initial_cluster_manager_nodes: opensearch-node1
          bootstrap.memory_lock: true
          OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
        options: >-
          --health-cmd "curl http://localhost:9200/_cluster/health"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
        ports:
          - 9200:9200
    env:
      AWS_ACCESS_KEY_ID: fake
      AWS_SECRET_ACCESS_KEY: fake
      AWS_ENDPOINT: http://localhost:4566
      AWS_REGION: eu-central-1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Run tests
        run: ./mvnw verify
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/main/webui
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: install
        run: yarn install
      - name: test
        run: yarn test
